
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(19, 24, 49);
}

@layer utilities {
  .glow-text {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .glow-image {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
.typewriter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typewriter-text {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: .15em;
}

#line1 {
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

#line2 {
  opacity: 0;
  border: none;
}

@media (max-width: 600px) {
  .typewriter-text {
    font-size: 25px; /* Example: Adjust font size for smaller screens */
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.glossy-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.glossy-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


/* Play Music */
.app {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .pads {
    background: lightblue;
    width: 100%;
    display: flex;
  }
  .pads > div {
    height: 200px;
    width: 150px;
    flex: 1;
  }
  .pad1 {
     background-image: linear-gradient(
        0deg,
        rgb(0, 80, 159) 1%,
        #60d394  95%
      );
  }
  .pad2 {
    background-image: linear-gradient(
      0deg,
      rgb(0, 80, 159) 1%,
      #d36060  95%
    );
  }
  .pad3 {
    background-image: linear-gradient(
      0deg,
      rgb(0, 80, 159) 1%,
      #c060d3  95%
    );
  }
  .pad4 {
    background-image: linear-gradient(
      0deg,
      rgb(0, 80, 159) 1%,
      #d3d160  95%
    );
  }
  .pad5 {
    background-image: linear-gradient(
      0deg,
      rgb(0, 80, 159) 1%,
      #606bd3  95%
    );
  }
  .pad6 {
    background-image: linear-gradient(
      0deg,
      rgb(0, 80, 159) 1%,
      #60c2d3  95%
    );
  
  }
  /* padd sec*/
  .padd {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .padd > div {
    height: 200px;
    width: 150px;
    flex: 1;
  }
  .padd{
    background: black;
    height: 89px;
    position: fixed;
    width: 100px;
  
  }
  
  .visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }
  
  .app h2{
      font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  